#printPreview{
  visibility: hidden;
  float:right; 
  width:700px;
  height:1000px;
  margin: 10px;
  position: absolute;
  left:45%;
}

#bottom {
  position: absolute;
  background-color: none;
  height: 612px; 
  padding:0px;
  width: 792px;
}

#top{
  position: absolute;
  float: right;
  top:15px;
  width: 800px;
} 


#annoDisplay{
  position: relative;
  top: -60%;
  right: -40%;
  width: auto;
  height: auto;
  transform: rotate(90deg);
  text-align: center;
}


#top .stlView{
  margin:0px;
  height:150px;
  width:100%;
  margin-bottom: 10px;
  border-right: #d6001c;
}



button {
  background-color: #d6001c;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #d58570;
}

#instructions{
  float:left;
  margin-top: 50px;
  margin-bottom: 30px;
}
